.image {
    width: 100%;
}
.site-index {
    font-size: 19px;
    line-height: normal;
    text-align: justify;
}
.site-index p {
    text-indent: 20px;
    font-family: 'Glyphicons Halflings', serif;
}
.header {
    padding-left: 20px;
}